---
import Layout from "../layouts/Layout.astro";
import content from "../contents/index.json";
import Logos from "../components/Logos.astro";
---

<Layout title={content.meta.title}>
  <div class="section-top">
    <div class="header design-width">
      <Logos />

      <aside class="header__links">
        {
          content.nav.map((item) => (
            <a class="header__link" href={item.link}>
              {item.title}
            </a>
          ))
        }
        <a class="header__link" href={content.githublink} target="_blank" rel="nofollow"><img src="/github.webp" alt="GitHub" /></a>
      </aside>
    </div>
  </div>
  <main>
    <article class="card card--intro design-width">
      <div class="card__body">
        <h1 class="title title--main">
          <span>{content.mainTitle1}</span>
          <span>{content.mainTitle2}</span>
        </h1>
        <p>{content.mainLead}</p>
        <button class="button" data-tid="login-button" data-login>{content.iibuttontext}</button>
      </div>
      <div class="card__image">
        <img src={content.mainImage} alt="Internet Identity" />
      </div>
    </article>

    <div class="design-width">
      <article class="section section--howto" id="how-it-works">
        <span class="pill">{content.howtoChip}</span>
        <h2 class="title title--section">{content.howtoTitle}</h2>
        <p class="section__intro">{content.howtoLead}</p>
        <ol class="steps">
          {
            content.howtoSteps.map((step) => (
              <li class="steps__step">
                <h3 class="steps__title title">{step.title}</h3>
                <p class="steps__body">{step.body}</p>
              </li>
            ))
          }
        </ol>
        <button class="button" data-login>{content.iibuttontext}</button>
      </article>

      <article class="section section--innovation" id="identity-innovation">
        <header class="section__header">
          <span class="pill">{content.innovationChip}</span>
          <h2 class="title title--section">{content.innovationTitle}</h2>
          <p class="section__intro">{content.innovationLead}</p>
        </header>
        <div class="innovation-cards">
          {
            content.innovationCards.map((card) => (
              <aside class:list={["card", `card--${card.type}`]}>
                <img class="card__image" src={card.image} alt={card.title} />
                <h3 class="card__title">{card.title}</h3>
                <p class="card__body">{card.body}</p>
              </aside>
            ))
          }
        </div>
      </article>
    </main>

    <footer class="design-width footer">
      <Logos />
      <p class="footer__copyright">
        <a href={content.copyright.link} target="_blank" rel="nofollow">{content.copyright.text}</a>
        <a href={content.githublink} target="_blank" rel="nofollow">
          <img src="/github.webp" alt="GitHub" />
        </a>
      </p>
    </footer>
  </div>
</Layout>

